@font-face {
  font-family: "MADE-Sunflower";
  src: url("/fonts/MADE-Sunflower.otf");
}

body {
  background-color: #AEAEAE;
  font-family: "Sunflower";
}

@media (min-width: 550px) {
  body {
    background-color: darkorange;
  }
}

@media (min-width: 750px) {
  body {
    background-color: #c7aad8;
  }
}

img {
  width: 100%;
}

.container {
  padding: 20px;
}

.top {
  height: 300px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top h1 {
  color: red;
  font-size: 36px;
  -webkit-transform: rotateZ(15deg);
          transform: rotateZ(15deg);
}

@media (min-width: 550px) {
  .top h1 {
    font-size: 4vw;
    -webkit-animation: moveElement 1.3s infinite alternate;
            animation: moveElement 1.3s infinite alternate;
    position: absolute;
  }
}

@-webkit-keyframes moveElement {
  from {
    top: 45px;
  }
  to {
    top: 345px;
  }
}

@keyframes moveElement {
  from {
    top: 45px;
  }
  to {
    top: 345px;
  }
}

.gallery {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

@media (min-width: 550px) {
  .gallery {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.gallery-top-image {
  width: 100%;
  margin-bottom: 20px;
}

@media (min-width: 550px) {
  .gallery-top-image {
    width: 49%;
    -webkit-clip-path: polygon(100% 34%, 79% 30%, 77% 0%, 55% 36%, 21% 1%, 22% 48%, 0% 51%, 35% 62%, 8% 95%, 49% 76%, 68% 98%, 65% 60%, 100% 91%, 85% 55%);
            clip-path: polygon(100% 34%, 79% 30%, 77% 0%, 55% 36%, 21% 1%, 22% 48%, 0% 51%, 35% 62%, 8% 95%, 49% 76%, 68% 98%, 65% 60%, 100% 91%, 85% 55%);
  }
}

@media (min-width: 550px) {
  .gallery-top-image:hover {
    width: 49%;
    -webkit-clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
            clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
  }
}

.gallery-second-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 550px) {
  .gallery-second-images {
    width: 49%;
  }
}

.gallery-second-image-s {
  width: 36%;
}

.gallery-second-image-m {
  width: 60%;
}

.about {
  width: 100%;
}

.about p {
  font-size: 17px;
  line-height: 126%;
}

@media (min-width: 550px) {
  .about p {
    font-size: 4vw;
    line-height: 5vw;
  }
}

.contacts {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacts-headline {
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts-headline h2 {
  color: red;
  font-size: 36px;
  -webkit-transform: rotateZ(15deg);
          transform: rotateZ(15deg);
}

@media (min-width: 550px) {
  .contacts-headline h2 {
    font-size: 4vw;
  }
}

.contacts-buttons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 550px) {
  .contacts-buttons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.contacts-buttons a {
  text-decoration: none;
}

.contacts-button {
  background-color: yellow;
  border: 1px solid black;
  border-radius: 18px;
  padding: 22px;
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
  color: black;
}

@media (min-width: 550px) {
  .contacts-button {
    margin: 1vw;
    width: 25vw;
    font-size: 3vw;
  }
}

.contacts-button:hover {
  opacity: 0.5;
}

.check-this {
  background-color: #ffe714;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 280px;
  right: 300px;
  -webkit-box-shadow: 0px 4px 14px;
          box-shadow: 0px 4px 14px;
  z-index: 2;
}

.check-this a {
  text-decoration: none;
  color: black;
}
/*# sourceMappingURL=style.css.map */